html, header, section{
	background-color: #ECA24B;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

html{
	padding-left: 2%;
	padding-right: 2%;
}

h1{
	padding-top: 3%;
	color: #411501;
}

p{
	font-size: 110%;
	padding-top: 1.5%;
}

table{
	background-color: white;
}